.formularioregistro {
    display: inline-block;
    background-color: #F1F1F1;
    padding: 25px 30px 30px;
    border-radius: 8px;
    margin: 0 auto;            /* centre horizontally when parent is text-align:center */
}
.formularioregistro button {
  display: block;
  margin: 0 auto;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 40px;         
}